<div class="container-fluid" ng-controller="DispositivosController as dispositivos">	
	
	<div class="row barra centrar-texto">
		<div class="col-md-12">
			<h2 class="text-center">Dispositivos</h2>	
		</div>
	</div>

	<div class="row bajar" ng-repeat="dispo in dispositivos.dispos">
		
		<div class="col-md-4 col-xs-4">
			<h2 class="text-center">{{dispo.name}}</h2>
		</div>

		<div class="col-md-4 col-xs-4 col-md-offset-2 col-xs-offset-2" ng-show="dispo.state">
			<button class="btn btn-primary btn-block text-center">Encender</button>
		</div>

		<div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2" ng-hide="dispo.state">
			<button class="btn btn-primary btn-block text-center bajar">Apagar</button>
		</div>

	</div>

</div>
